body{
    overflow-y: auto;
}
.blogBox{
    height: 100vh;
}
.blogCard{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #000;
    color: white;
    text-align: center;
}
.blogCard>img{
    width: 60%;
    height: 150px;
    margin-left: 20%;
}